*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';

}

html, body{
  height: 100%;
  width: 100;
}


.container{
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: cadetblue;
  border-radius: 10px;
  border: 2px solid black;

  padding: 30px 20px;
  margin: 10px 20px;
}


button{
  padding: 10px 20px;
  margin: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

h1{
  background-color: gainsboro;
  width: fit-content;
  font-size: 100px;
  padding: 10px 80px;
  margin: 20px;
  border-radius: 10px;

}